parameters:
	ignoreErrors:
		-
			message: "#^Method Cognesy\\\\Utils\\\\Sandbox\\\\Drivers\\\\BubblewrapSandbox\\:\\:run\\(\\) has parameter \\$onOutput with no signature specified for callable\\.$#"
			count: 1
			path: packages/utils/src/Sandbox/Drivers/BubblewrapSandbox.php

		-
			message: "#^Method Cognesy\\\\Utils\\\\Sandbox\\\\Drivers\\\\DockerSandbox\\:\\:run\\(\\) has parameter \\$onOutput with no signature specified for callable\\.$#"
			count: 1
			path: packages/utils/src/Sandbox/Drivers/DockerSandbox.php

		-
			message: "#^Method Cognesy\\\\Utils\\\\Sandbox\\\\Drivers\\\\FirejailSandbox\\:\\:run\\(\\) has parameter \\$onOutput with no signature specified for callable\\.$#"
			count: 1
			path: packages/utils/src/Sandbox/Drivers/FirejailSandbox.php

		-
			message: "#^Method Cognesy\\\\Utils\\\\Sandbox\\\\Drivers\\\\PodmanSandbox\\:\\:run\\(\\) has parameter \\$onOutput with no signature specified for callable\\.$#"
			count: 1
			path: packages/utils/src/Sandbox/Drivers/PodmanSandbox.php

		-
			message: "#^Method Cognesy\\\\Utils\\\\Sandbox\\\\Runners\\\\SymfonyProcessRunner\\:\\:makeProcessCallback\\(\\) has parameter \\$onOutput with no signature specified for callable\\.$#"
			count: 1
			path: packages/utils/src/Sandbox/Runners/SymfonyProcessRunner.php
