<?xml version="1.0" encoding="UTF-8"?>
<!--suppress XmlHighlighting -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./packages/addons/tests/Unit</directory>
            <directory suffix="Test.php">./packages/agent-ctrl/tests/Unit</directory>
            <directory suffix="Test.php">./packages/auxiliary/tests/Unit</directory>
            <directory suffix="Test.php">./packages/config/tests/Unit</directory>
            <directory suffix="Test.php">./packages/doctor/tests/Unit</directory>
            <directory suffix="Test.php">./packages/dynamic/tests/Unit</directory>
            <directory suffix="Test.php">./packages/evals/tests/Unit</directory>
            <directory suffix="Test.php">./packages/events/tests/Unit</directory>
            <directory suffix="Test.php">./packages/experimental/tests/Unit</directory>
            <directory suffix="Test.php">./packages/http-client/tests/Unit</directory>
            <directory suffix="Test.php">./packages/hub/tests/Unit</directory>
            <directory suffix="Test.php">./packages/instructor/tests/Unit</directory>
            <directory suffix="Test.php">./packages/logging/tests/Unit</directory>
            <directory suffix="Test.php">./packages/messages/tests/Unit</directory>
            <directory suffix="Test.php">./packages/pipeline/tests/Unit</directory>
            <directory suffix="Test.php">./packages/polyglot/tests/Unit</directory>
            <directory suffix="Test.php">./packages/schema/tests/Unit</directory>
            <directory suffix="Test.php">./packages/setup/tests/Unit</directory>
            <directory suffix="Test.php">./packages/stream/tests/Unit</directory>
            <directory suffix="Test.php">./packages/tell/tests/Unit</directory>
            <directory suffix="Test.php">./packages/templates/tests/Unit</directory>
            <directory suffix="Test.php">./packages/utils/tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./packages/addons/tests/Feature</directory>
            <directory suffix="Test.php">./packages/agent-ctrl/tests/Feature</directory>
            <directory suffix="Test.php">./packages/auxiliary/tests/Feature</directory>
            <directory suffix="Test.php">./packages/config/tests/Feature</directory>
            <directory suffix="Test.php">./packages/doctor/tests/Feature</directory>
            <directory suffix="Test.php">./packages/dynamic/tests/Feature</directory>
            <directory suffix="Test.php">./packages/evals/tests/Feature</directory>
            <directory suffix="Test.php">./packages/events/tests/Feature</directory>
            <directory suffix="Test.php">./packages/experimental/tests/Feature</directory>
            <directory suffix="Test.php">./packages/http-client/tests/Feature</directory>
            <directory suffix="Test.php">./packages/hub/tests/Feature</directory>
            <directory suffix="Test.php">./packages/instructor/tests/Feature</directory>
            <directory suffix="Test.php">./packages/logging/tests/Feature</directory>
            <directory suffix="Test.php">./packages/messages/tests/Feature</directory>
            <directory suffix="Test.php">./packages/pipeline/tests/Feature</directory>
            <directory suffix="Test.php">./packages/polyglot/tests/Feature</directory>
            <directory suffix="Test.php">./packages/schema/tests/Feature</directory>
            <directory suffix="Test.php">./packages/setup/tests/Feature</directory>
            <directory suffix="Test.php">./packages/stream/tests/Feature</directory>
            <directory suffix="Test.php">./packages/tell/tests/Feature</directory>
            <directory suffix="Test.php">./packages/templates/tests/Feature</directory>
            <directory suffix="Test.php">./packages/utils/tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./packages/addons/tests/Integration</directory>
            <directory suffix="Test.php">./packages/agent-ctrl/tests/Integration</directory>
            <directory suffix="Test.php">./packages/auxiliary/tests/Integration</directory>
            <directory suffix="Test.php">./packages/config/tests/Integration</directory>
            <directory suffix="Test.php">./packages/doctor/tests/Integration</directory>
            <directory suffix="Test.php">./packages/dynamic/tests/Integration</directory>
            <directory suffix="Test.php">./packages/evals/tests/Integration</directory>
            <directory suffix="Test.php">./packages/events/tests/Integration</directory>
            <directory suffix="Test.php">./packages/experimental/tests/Integration</directory>
            <directory suffix="Test.php">./packages/http-client/tests/Integration</directory>
            <directory suffix="Test.php">./packages/hub/tests/Integration</directory>
            <directory suffix="Test.php">./packages/instructor/tests/Integration</directory>
            <directory suffix="Test.php">./packages/logging/tests/Integration</directory>
            <directory suffix="Test.php">./packages/messages/tests/Integration</directory>
            <directory suffix="Test.php">./packages/pipeline/tests/Integration</directory>
            <directory suffix="Test.php">./packages/polyglot/tests/Integration</directory>
            <directory suffix="Test.php">./packages/schema/tests/Integration</directory>
            <directory suffix="Test.php">./packages/setup/tests/Integration</directory>
            <directory suffix="Test.php">./packages/stream/tests/Integration</directory>
            <directory suffix="Test.php">./packages/tell/tests/Integration</directory>
            <directory suffix="Test.php">./packages/templates/tests/Integration</directory>
            <directory suffix="Test.php">./packages/utils/tests/Integration</directory>
        </testsuite>
        <testsuite name="Regression">
            <directory suffix="Test.php">./packages/addons/tests/Regression</directory>
            <directory suffix="Test.php">./packages/agent-ctrl/tests/Regression</directory>
            <directory suffix="Test.php">./packages/auxiliary/tests/Regression</directory>
            <directory suffix="Test.php">./packages/config/tests/Regression</directory>
            <directory suffix="Test.php">./packages/doctor/tests/Regression</directory>
            <directory suffix="Test.php">./packages/dynamic/tests/Regression</directory>
            <directory suffix="Test.php">./packages/evals/tests/Regression</directory>
            <directory suffix="Test.php">./packages/events/tests/Regression</directory>
            <directory suffix="Test.php">./packages/experimental/tests/Regression</directory>
            <directory suffix="Test.php">./packages/http-client/tests/Regression</directory>
            <directory suffix="Test.php">./packages/hub/tests/Regression</directory>
            <directory suffix="Test.php">./packages/instructor/tests/Regression</directory>
            <directory suffix="Test.php">./packages/messages/tests/Regression</directory>
            <directory suffix="Test.php">./packages/pipeline/tests/Regression</directory>
            <directory suffix="Test.php">./packages/polyglot/tests/Regression</directory>
            <directory suffix="Test.php">./packages/schema/tests/Regression</directory>
            <directory suffix="Test.php">./packages/setup/tests/Regression</directory>
            <directory suffix="Test.php">./packages/stream/tests/Regression</directory>
            <directory suffix="Test.php">./packages/tell/tests/Regression</directory>
            <directory suffix="Test.php">./packages/templates/tests/Regression</directory>
            <directory suffix="Test.php">./packages/utils/tests/Regression</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./packages/addons/src</directory>
            <directory suffix=".php">./packages/agent-ctrl/src</directory>
            <directory suffix=".php">./packages/auxiliary/src</directory>
            <directory suffix=".php">./packages/config/src</directory>
            <directory suffix=".php">./packages/doctor/src</directory>
            <directory suffix=".php">./packages/dynamic/src</directory>
            <directory suffix=".php">./packages/evals/src</directory>
            <directory suffix=".php">./packages/events/src</directory>
            <directory suffix=".php">./packages/experimental/src</directory>
            <directory suffix=".php">./packages/http-client/src</directory>
            <directory suffix=".php">./packages/hub/src</directory>
            <directory suffix=".php">./packages/instructor/src</directory>
            <directory suffix=".php">./packages/logging/src</directory>
            <directory suffix=".php">./packages/messages/src</directory>
            <directory suffix=".php">./packages/pipeline/src</directory>
            <directory suffix=".php">./packages/polyglot/src</directory>
            <directory suffix=".php">./packages/schema/src</directory>
            <directory suffix=".php">./packages/setup/src</directory>
            <directory suffix=".php">./packages/stream/src</directory>
            <directory suffix=".php">./packages/tell/src</directory>
            <directory suffix=".php">./packages/templates/src</directory>
            <directory suffix=".php">./packages/utils/src</directory>
        </include>
    </source>
</phpunit>
