{
  "$schema": "https://mintlify.com/schema.json",
  "name": "Instructor for PHP",
  "logo": {
    "dark": "/logo/dark.svg",
    "light": "/logo/light.svg"
  },
  "favicon": "/favicon.svg",
  "colors": {
    "primary": "#0D9373",
    "light": "#07C983",
    "dark": "#0D9373",
    "anchors": {
      "from": "#0D9373",
      "to": "#07C983"
    }
  },
  "topbarLinks": [
    {
      "name": "Issues",
      "url": "https://github.com/cognesy/instructor-php/issues"
    }
  ],
  "topbarCtaButton": {
    "name": "Github",
    "url": "https://github.com/cognesy/instructor-php"
  },
  "primaryTab": {
    "name": "Home"
  },
  "tabs": [
    {
      "name": "Examples",
      "url": "cookbook"
    }
  ],
  "anchors": [
    {
      "name": "Community",
      "icon": "discord",
      "url": "https://discord.com/invite/bD9YE9JArw"
    },
    {
      "name": "Blog",
      "icon": "newspaper",
      "url": "https://cognesy.com/blog"
    },
    {
      "name": "Commercial support",
      "icon": "book-open-cover",
      "url": "https://cognesy.com/"
    }
  ],
  "navigation": [
    {
      "group": "Get Started",
      "pages": [
        "introduction",
        "quickstart",
        "llm_providers"
      ]
    },
    {
      "group": "Concepts",
      "pages": [
        "/concepts/overview",
        "/concepts/why"
      ]
    },
    {
      "group": "Essentials",
      "pages": [
        "/essentials/installation",
        "/essentials/usage",
        "/essentials/modes",
        "/essentials/data_model",
        "/essentials/scalars",
        "/essentials/validation",
        "/essentials/prompts",
        "/essentials/demonstrations"
      ]
    },
    {
      "group": "Advanced Features",
      "pages": [
        "/advanced/model_options",
        "/advanced/partials",
        "/advanced/sequences",
        "/advanced/structures",
        "/advanced/function_calls",
        "/advanced/modules"
      ]
    },
    {
      "group": "Practical Techniques",
      "pages": [
        "/techniques/prompting",
        "/techniques/classification",
        "/techniques/search"
      ]
    },
    {
      "group": "Internals",
      "pages": [
        "/internals/instructor",
        "/internals/lifecycle",
        "/internals/response_models",
        "/internals/debugging",
        "/internals/http",
        "/internals/events",
        "/internals/configuration"
      ]
    },
    {
      "group": "More",
      "pages": [
        "misc/philosophy",
        "misc/contributing",
        "misc/help"
      ]
    },
    {
      "group": "Cookbook",
      "pages": [
        "cookbook/introduction",
        "cookbook/contributing"
      ]
    },
###HUB-INDEX-START###
    {
      "group": "Basics",
      "pages": [
        "cookbook/examples/basics/basic",
        "cookbook/examples/basics/basic_via_mixin"
      ]
    },
    {
      "group": "Advanced",
      "pages": [
        "cookbook/examples/advanced/caching"
      ]
    },
    {
      "group": "Techniques",
      "pages": [
        "cookbook/examples/techniques/arbitrary_properties"
      ]
    },
    {
      "group": "Troubleshooting",
      "pages": [
        "cookbook/examples/troubleshooting/debugging"
      ]
    },
    {
      "group": "LLM API Support",
      "pages": [
        "cookbook/examples/api_support/llm_support_anthropic"
      ]
    }
  ],
###HUB-INDEX-END###
  "footerSocials": {
    "x": "https://x.com/mintlify",
    "github": "https://github.com/mintlify",
    "linkedin": "https://www.linkedin.com/company/mintsearch"
  }
}
